<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
       </button>
       <a href="/" class="navbar-brand">IncredibleIndia!</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/tamilnadu">TamilNadu</a></li>
          <li><a href="/kerela">Kerela</a></li>
          <li><a href="/karnataka">Karnataka</a></li>
          <li><a href="/maharashtra">Maharashtra</a></li>
          <li><a href="/uttarpradesh">Uttar Pradesh</a></li>
        </ul>
    </div>
 </div>
</div>
